{#<a class="btn btn-sm btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><span class="glyphicon glyphicon-remove"></span> Delete</a>#}

<a class="btn btn-sm" style="background-color:#ff8f9e; color: white" href="{{ admin.generateObjectUrl('delete', object) }}"><span class="glyphicon glyphicon-remove"></span> Delete</a>