{% extends 'base.email.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
    Reset password.
{% endblock %}

{% block content %}

    <h1 style="margin-bottom: 50px; color: #1e307c; font-family: Arial, sans-serif; font-size: 42px; font-weight: 700; line-height: 48px;">
        Hello {{ user.name }}, you have requested to change your password on Todo network!
    </h1>

    <p style="font-size: 17px; font-family: Arial, sans-serif; color: #4d4d4d;">
        Please click on the link below to get a new password. 
    </p>

    <p style="margin-top: 50px">
        <a style="display: inline-block; text-decoration: none; border-radius: 55px; font-family: Arial, sans-serif; font-size: 17px; font-weight: bold; height: 55px; padding: 0 44px; line-height: 55px; background-color: #44c6c2; color: #fff" href="{{ confirmationUrl }}">
            Reset Password
        </a>
    </p>

{% endblock %}